<div class="row">
  <div class="col-12">
    <h1>Task Manager</h1>
  </div>
  <%= if @current_user do %>
    <div class="col-6">
      <%= link "Tasks", to: Routes.task_path(@conn, :index), class: "btn-btn-primary" %>
    </div>
  <% else %>
    <div class="col-6">
      <%= link "Register", to: Routes.user_path(@conn, :new), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
