<div class="row">
  <%= if @current_user do %>
    <div class="col">
      <%= render TaskManagerWeb.TaskView, "index.html", conn: @conn, tasks: @current_user.tasks, header: "My Tasks"%>
    </div>
  <% else %>
    <div class="col-6">
      <%= link "Register", to: Routes.user_path(@conn, :new), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
